.module__widget_popup {
	position	: fixed;
	z-index	: 30199999;
	left	: 0;
	top	: 0;
	height	: 100%;
	width	: 100%;
	/*rgba(64, 27, 27, 0.89)*/
	background	: rgba(27, 27, 27, 0.89) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB90RVh0U29mdHdhcmUATWFjcm9tZWRpYSBGaXJld29ya3MgOLVo0ngAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTAvMDEvMTKd3tD2AAAAbklEQVQokZXSsQ7AIAhF0YtxdPP/P9GtOx2UxlBr5a168iIoqoqPiABUoLwOe67kLlu2CGjZkDWLyBapagMQIIwAUrhpPClF0VPEzyB8k8EcRbaqFEEjFSgr+InmWXh4hDw8RjMMIehTXe/p56PfR3dmLSzBwtAAAAAASUVORK5CYII=') top left repeat;
}
.module__widget_popup tr {
	height	: 100%;
	vertical-align: middle;
}

.module__widget_popup tr td {
	height	: 100%;
	vertical-align	: middle;
	text-align		: center;
}

.module__widget_popup tr td > div {
	max-width	: 800px;
	min-width	: 200px;
	width		: 40%;

	-webkit-border-radius: 4vmin;
	-moz-border-radius: 4vmin;
	-ms-border-radius: 4vmin;
	-o-border-radius: 4vmin;
	border-radius: 4vmin;

	margin	: 0 auto;

	padding	: 1vmin;
	
	padding	: 0.01px 0;
}

.module__widget_popup tr td > div > div.module__widget_popup_controls {
	min-height: 3vmin;
	/*background: #fff;*/

	margin	: 2vmin 2vmin 0 2vmin;

	-webkit-border-radius: 3vmin 3vmin 0 0;
	-moz-border-radius: 3vmin 3vmin 0 0;
	-ms-border-radius: 3vmin 3vmin 0 0;
	-o-border-radius: 3vmin 3vmin 0 0;
	border-radius: 3vmin 3vmin 0 0;

}

.module__widget_popup tr td > div > div.module__widget_popup_controls span.module__widget_popup_control {
	display	: block;
	height	: 20vmin;
	min-width	: 20vmin;
	line-height	: 20vmin;
	font-family	: websymbols;
	font-size	: 15vmin;

	color	: rgba(0, 0, 0, 0.55);
	-webkit-border-radius: 3vmin;
	-moz-border-radius: 3vmin;
	-ms-border-radius: 3vmin;
	-o-border-radius: 3vmin;
	border-radius: 3vmin;

	-webkit-box-shadow: inset 0 0 5vmin rgba(0, 0, 0, 0.67);
	box-shadow: inset 0 0 5vmin rgba(0, 0, 0, 0.67);
}

.module__widget_popup tr td > div > div.module__widget_popup_content {
	max-height	: 80vh;
	margin		: 0 2vmin 0 2vmin;

	overflow	: auto;
	text-align	: left;

	/*background: #fff;*/
}

.module__widget_popup tr td > div > div.module__widget_popup_footer {
	min-height: 3vmin;
	margin	: 0 2vmin 2vmin 2vmin;
	
	/*background: #fff;*/
	-webkit-border-radius: 0 0 3vmin 3vmin;
	-moz-border-radius: 0 0 3vmin 3vmin;
	-ms-border-radius: 0 0 3vmin 3vmin;
	-o-border-radius: 0 0 3vmin 3vmin;
	border-radius: 0 0 3vmin 3vmin;
}


.module__widget_popup tr td > div > div.module__widget_popup_content {
	/*font-size	: 5vmin;*/
	/*font-family	: arial;*/
}

.module__widget_popup tr td > div > div.module__widget_popup_content > div > div.rr-block-space > [attr-icon="websymbols"].animated {
	font-size: 3em;
}
/*
	.module__widget_popup tr td > div > div.module__widget_popup_content h2 {
		font-size	: 1em;
	}

	.module__widget_popup tr td > div > div.module__widget_popup_content p {
		font-size	: 0.8em;
	}

	.module__widget_popup tr td > div > div.module__widget_popup_content p > * {
		font-size	: 1em;
	}

	.module__widget_popup tr td > div > div.module__widget_popup_content > [attr-icon="websymbols"] {
		font-family	: websymbols;
		font-size	: 12vmin;
		line-height	: 1.2;
		color		: rgba(0, 0, 0, 0.67);
	
		-webkit-user-select	: none;
		-moz-user-select	: none;
		-ms-user-select		: none;
			user-select		: none;
	}

	.module__widget_popup tr td > div > div.module__widget_popup_footer > button {
		border	: 0;
		-webkit-box-shadow	: 0 0 3px rgba(0, 0, 0, 0.15);
		box-shadow	: 0 0 3px rgba(0, 0, 0, 0.15);
	
		-webkit-border-radius	: 1.5vmin;
		border-radius	: 1.5vmin;
	
		padding		: 0 4vmin;
		font-size	: 5vmin;
		line-height	: 1.8;
		margin		: 3vmin 1vmin 5vmin 1vmin;
	
		background	: rgba(0, 0, 0, 0.5);
	
		color		: #fff;
	}

	.module__widget_popup tr td > div > div.module__widget_popup_footer > button:focus,
	.module__widget_popup tr td > div > div.module__widget_popup_footer > button:active {
		-webkit-box-shadow	: 0 0 3px;
		box-shadow	: 0 0 3px;
	
		background	: rgba(0, 0, 0, 0.67);
	}

	.module__widget_popup tr td > div > div.module__widget_popup_footer > button:hover {
		-webkit-box-shadow	: 2px 3px 7px rgba(0, 0, 0, 0.67);
		box-shadow	: 2px 3px 7px rgba(0, 0, 0, 0.67);
	}

	.module__widget_popup .module__widget_popup_content .module__widget_popup_row_input {
		width	: 90%;
		-webkit-box-sizing	: border-box;
		-moz-box-sizing	: border-box;
		-ms-box-sizing	: border-box;
		-o-box-sizing	: border-box;
		box-sizing	: border-box;
	
		height	: auto;
		font-size	: 6vmin;
		padding	: 0 5vmin;
		text-align	: left;
	
		line-height	: 1.89;
	
		margin	: 5vmin auto;
	
		border	: 1.5vmin solid rgba(0, 0, 0, 0.23);
	
		border-radius	: 2vmin;
		-webkit-border-radius	: 2vmin;
		-moz-border-radius	: 2vmin;
		-ms-border-radius	: 2vmin;
		border-radius	: 2vmin;
	
		color	: rgba(0, 0, 0, 0.67);
	}
*/
